body {
  margin: 0;
  background-color: #68A0B4;
  text-align: center;
  font-family: verdana, sans-serif;
}

div {
  background-color: #68A0B4;
}


hr {
  border-style: dotted none none none;
  border-color: white;
  height: 30px;
  border-width: 10px;
  width: 15%;
}

h1 {
  color: #EAF6F6;
}

h3 {
  color: #EAF6F6;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.phd {
  text-decoration: underline;
}
