body {
  margin: 0;
  background-color: #68A0B4;
}

div {
  background-color: #68A0B4;
}

hr {
  border-style: dotted none none none;
  border-color: white;
  height: 30px;
  border-width: 10px;
  width: 15%;
}

h1 {
  margin-top: 0;
  color: #EAF6F6;
}

h3 {
  color: #EAF6F6;
}

.top-container {

}

.bottom-container {
  background-color: red;
  width: 200px;
  height: 200px;
}

.phd {
  text-decoration: underline;
}
